<h1>New Survey</h1>

<form class="survey_input" action="/surveys" method="post">
  <label for="survey_input">Enter Survey Title:</label>
  <input name="survey_input" id="survey_input">
  <button type="submit">Submit</button>
</form>
